@page "/pages"
@model IndexModel
@{
    ViewBag.Title = "Отчеты";
}

<div class="row">
    <div class="col-sm-3">
        <partial name="Partial/_LeftSidebarPartial" />
    </div>
    <div class="col-sm-9">
        <h1>@ViewBag.Title</h1>

        <p>Страница приложения с формирование различной отчетности.</p>

    </div>
</div>

@functions {
    public class IndexModel : PageModel
    {
        public IndexModel()
        {
        }
    }
}