@page "/pages"
@model Corporation.Web.Pages.IndexModel
@{
    ViewBag.Title = "Отчет общий";
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h1 class="text-center">@ViewBag.Title</h1>
            
            <div class="border-1 shadow rounded bg-light p-1">
                <p>Страница приложения с формирование различной отчетности.</p>
            </div>


        </div>
    </div>
</div>
