@page
@model ProductsModel
@{
    ViewBag.Title = "Отчет - различные продукты корпорации";
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h1>@ViewBag.Title</h1>

            <p>Отчет по продуктам.</p>



        </div>
    </div>
</div>

@functions {
    public class ProductsModel : PageModel
    {
        public void OnGet()
        {
            
        }
    }
}
