@model Corporation.Web.Controllers.AccountController.IndexWebModel
@{
    ViewBag.Title = "Детали пользователя";
}

<div class="container">
    <table class="table table-sm table-bordered">
        <tbody>
            @if (Model.User is null)
            {
                <tr>
                    <th class="text-center">Нет сведений об идентификации пользователя</th>
                </tr>
            }
            else
            {
                <tr>
                    <th>Куки:</th>
                    <td class="text-break">@Model.Cookie</td>
                </tr>
                <tr>
                    <th>Имя пользователя:</th>
                    <td class="text-break">@Model.User.UserName</td>
                </tr>
                <tr>
                    <th>Почта пользователя:</th>
                    <td class="text-break">@Model.User.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>

