@model Corporation.Web.Controllers.AccountController.LoginWebModel
@{
    ViewBag.Title = "Вход в систему";
}

<div class="container">

    <h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col-sm-6 border-1 shadow rounded bg-light">
            <div>
                <form asp-controller="Account" asp-action="Login" asp-antiforgery="true" asp-route-returnUrl="@Model?.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger alert-danger p-2 my-2"></div>

                    <div class="form-group my-1">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Введите ваш логин пользователя" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group my-1">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Введите ваш пароль" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group my-1">
                        <span>
                            <input asp-for="RememberMe" class="checkbox">
                            <label asp-for="RememberMe" class="control-label"></label>
                        </span>
                    </div>

                    <button type="submit" class="btn btn-primary my-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Подтверждение входа в систему">
                        Вход
                    </button>
                </form>
            </div>
        </div>
        
        <div class="col-sm-6 border-1 shadow rounded bg-warning">
            <div>
                <h3>Данные учетных записей для демонстрации приложения</h3>
                
                <hr />
                
                <h6>Администрация</h6>

                <div>
                    <h6>Главный администратор</h6>
                    <p>Логин: <strong>Admin</strong></p>
                    <p>Пароль: <strong>secret</strong></p>
                </div>
                
                <div>
                    <h6>Простой новый пользователь</h6>
                    <p>Логин: <strong>user</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>
                
                <hr />
                
                <div class="accordion accordion-flush mb-4" id="accordionFactory1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Завод 1
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFactory1">
                        <div class="accordion-body">
                            <div>
                                <h6>Мастер производства 1</h6>
                                <p class="m-0">Логин: <strong>masterov</strong></p>
                                <p class="mt-0">Пароль: <strong>123456</strong></p>
                            </div>
                            <div>
                                <h6>Кладовщик склада сырья 1</h6>
                                <p class="m-0">Логин: <strong>loginov</strong></p>
                                <p class="mt-0">Пароль: <strong>123</strong></p>
                            </div>
                            <div>
                                <h6>Оператор кирпичного пресса 1</h6>
                                <p class="m-0">Логин: <strong>petrov</strong></p>
                                <p class="mt-0">Пароль: <strong>123</strong></p>
                            </div>
                            <div>
                                <h6>Оператор автоклавирования 1</h6>
                                <p class="m-0">Логин: <strong>agafonov</strong></p>
                                <p class="mt-0">Пароль: <strong>123</strong></p>
                            </div>
                            <div>
                                <h6>Оператор кирпичной упаковки 1</h6>
                                <p class="m-0">Логин: <strong>vasin</strong></p>
                                <p class="mt-0">Пароль: <strong>123</strong></p>
                            </div>
                            <div>
                                <h6>Кладовщик склада продукции 1</h6>
                                <p class="m-0">Логин: <strong>masterov</strong></p>
                                <p class="mt-0">Пароль: <strong>123</strong></p>
                            </div>
                            <div>
                                <h6>Лаборант лаборатории 1</h6>
                                <p class="m-0">Логин: <strong>masterov</strong></p>
                                <p class="mt-0">Пароль: <strong>123</strong></p>
                            </div>                
                            <div>
                                <h6>Офисный работник офиса 1</h6>
                                <p class="m-0">Логин: <strong>masterov</strong></p>
                                <p class="mt-0">Пароль: <strong>123</strong></p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Фабрика 1
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFactory1">
                        <div class="accordion-body">
                            -
                        </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Ферма 1
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFactory1">
                        <div class="accordion-body">-

                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="Partial/_ValidationScriptsPartial"/>
}