@model Corporation.Web.Controllers.AccountController.LoginWebModel
@{
    ViewBag.Title = "Вход в систему";
}

<div class="container">

    <h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col-sm-6 border-1 shadow rounded bg-light">
            <div>
                <form asp-controller="Account" asp-action="Login" asp-antiforgery="true" asp-route-returnUrl="@Model?.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger alert-danger p-2 my-2"></div>

                    <div class="form-group my-1">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Введите ваш логин пользователя" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group my-1">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Введите ваш пароль" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group my-1">
                        <span>
                            <input asp-for="RememberMe" class="checkbox">
                            <label asp-for="RememberMe" class="control-label"></label>
                        </span>
                    </div>

                    <button type="submit" class="btn btn-primary my-2">Вход</button>
                </form>
            </div>
        </div>
        
        <div class="col-sm-6 border-1 shadow rounded bg-warning">
            <div>
                <h3>Данные учетных записей для демонстрации приложения</h3>
                
                <hr />

                <div>
                    <h6>Главный администратор</h6>
                    <p>Логин: <strong>Admin</strong></p>
                    <p>Пароль: <strong>secret</strong></p>
                </div>
                
                <div>
                    <h6>Простой новый пользователь</h6>
                    <p>Логин: <strong>user</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>
                
                <hr />

                <div>
                    <h6>Мастер производства 1</h6>
                    <p>Логин: <strong>masterov</strong></p>
                    <p>Пароль: <strong>123456</strong></p>
                </div>
                <div>
                    <h6>Кладовщик склада сырья 1</h6>
                    <p>Логин: <strong>loginov</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>
                <div>
                    <h6>Оператор кирпичного пресса 1</h6>
                    <p>Логин: <strong>petrov</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>
                <div>
                    <h6>Оператор кирпичной упаковки 1</h6>
                    <p>Логин: <strong>vasin</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>
                <div>
                    <h6>Кладовщик склада продукции 1</h6>
                    <p>Логин: <strong>masterov</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>
                <div>
                    <h6>Лаборант лаборатории 1</h6>
                    <p>Логин: <strong>masterov</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>                
                <div>
                    <h6>Офисный работник офиса 1</h6>
                    <p>Логин: <strong>masterov</strong></p>
                    <p>Пароль: <strong>123</strong></p>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="Partial/_ValidationScriptsPartial"/>
}