@{
    ViewBag.Title = "Информация по продукции";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h1 class="text-center">@ViewBag.Title</h1>

            <div class="border-1 shadow rounded bg-light p-1">
                <h2>Информация по товарам</h2>

                @foreach (var info in ViewBag.ProductInfos)
                {
                    <dl class="row">
                        <dt class="col-sm-12">Название товара: @info.Name </dt>
                        <dt class="col-sm-4">Номер формата: @info.Number </dt>
                        <dd class="col-sm-4">Количество едениц в упаковке: @info.Units шт.</dd>
                    </dl>
                }
            </div>

        </div>
    </div>
</div>
