<footer class="border-top footer text-dark bg-info">
    <div class="container">
        &copy; 2021 - kanadeiar <a class="text-dark" href="https://github.com/kanadeiar/core">github</a>
    </div>
</footer>