@model Corporation.Web.Controllers.RoleController.RoleEditWebModel;
@{
    ViewBag.Title = "Редактирование роли";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <partial name="Partial/_AccountLeftSidebarPartial" />
        </div>
        <div class="col-sm-9">
            <h1>@ViewBag.Title</h1>

            <div class="col-sm-6 border-1 shadow rounded bg-light p-2">
                <form asp-controller="Role" asp-antiforgery="true" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger alert-danger p-2"></div>

                    <input type="hidden" asp-for="Id" />

                    <div>
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="RoleName" class="form-label"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    
                    <div>
                        <label asp-for="DepartmentId" class="form-label"></label>
                        <select asp-for="DepartmentId" asp-items="ViewBag.Departments" class="form-control"></select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <button asp-action="Edit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Сохранить изменения в данных роли пользователей">
                            Сохранить
                        </button>
                        <a asp-controller="Role" asp-action="Index" class="btn btn-secondary">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="Partial/_ValidationScriptsPartial"/>
}