@inherits LayoutComponentBase

<div class="row m-0 border-1 shadow rounded bg-light p-1">
    <NavLink class="btn btn-outline-secondary" href="factory1" Match="NavLinkMatch.All"
             ActiveClass="btn-dark text-white">
        <span class="fa fa-home" aria-hidden="true"></span> Завод 1
    </NavLink>
    <NavLink class="btn btn-outline-secondary" href="factory1/warehouse1"
             ActiveClass="btn-dark text-white">
        <span class="fa fa-store" aria-hidden="true"></span> Склад сырья 1
    </NavLink>
    <NavLink class="btn btn-outline-secondary" href="factory1/press1"
             ActiveClass="btn-dark text-white">
        <span class="fa fa-procedures" aria-hidden="true"></span> Прессование 1
    </NavLink>
    <NavLink class="btn btn-outline-secondary" href="factory1/autoclave1"
             ActiveClass="btn-dark text-white">
        <span class="fa fa-hot-tub" aria-hidden="true"></span> Автоклавирование 1
    </NavLink>
    <NavLink class="btn btn-outline-secondary" href="factory1/packing1"
             ActiveClass="btn-dark text-white">
        <span class="fa fa-archive" aria-hidden="true"></span> Упаковка 1
    </NavLink>
    <NavLink class="btn btn-outline-secondary" href="factory1/warehouse2"
             ActiveClass="btn-dark text-white">
        <span class="fa fa-store" aria-hidden="true"></span> Склад продукции 1
    </NavLink>

</div>
