@inherits LayoutComponentBase

<div class="row m-0 border-1 shadow rounded bg-light p-1">
    <NavLink class="btn btn-outline-secondary" href="online" Match="NavLinkMatch.All"
        ActiveClass="btn-primary text-white">
        <span class="oi oi-home" aria-hidden="true"></span> Онлайн
    </NavLink>
</div>