<div class="mt-4 p-5 mb-4 bg-success shadow text-white rounded">
    <h1 class="display-2 mb-5"><strong>Корпорация</strong></h1>
    <p class="lead">Прототип корпоративного приложения.</p>
    <hr>
    <p>Информационное приложение получения и обработки данных корпорации.</p>
</div>